/result/
/video_editor/.idea/
/video_editor/static/edited/
/video_editor/static/uploads/
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/video-football-portrait.iml
