<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Editor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container text-center">
        <h1 class="mt-5">Welcome to the Video Editor</h1>
        <a href="{{ url_for('upload') }}" class="btn btn-primary mt-3">Upload Videos</a>
    </div>
</body>
</html>
